In [1]:

from PyQt5.QtCore import QDate

import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [2]:
def load_ex(file):
    xl = pd.ExcelFile(file)
    data = {}
    docs = xl.sheet_names
    for sheet in docs:
        data[sheet] = pd.read_excel(xl, sheet_name=sheet)
    return data

In [3]:

def l2(x):
    if isinstance(x,pd.DatetimeTZDtype):
        return QDate(x.year, x.month, x.day)
    elif isinstance(x,int):
        return QDate(1900,1,1).addDays(x)
    else:
        return QDate.fromString(x, day_f)

In [4]:
import numpy as np

In [5]:


data =load_ex('DocSchedule.xlsx')
day_f = list(data['Format']['Format'])[0]
current_schedule = data['Days']
current_schedule['Days'] = current_schedule['Days'].apply(l2)

current_schedule.fillna("", inplace=True)  # todo days

current_schedule.head()

                              Days   Doc Shift
0  PyQt5.QtCore.QDate(2022, 7, 24)  doc1   Off
1  PyQt5.QtCore.QDate(2022, 7, 24)  doc3   Off
2  PyQt5.QtCore.QDate(2022, 7, 24)  doc2  Call
3  PyQt5.QtCore.QDate(2022, 7, 25)  doc2   Off
4  PyQt5.QtCore.QDate(2022, 7, 25)  doc3  Call

In [6]:
pd.pivot_table(current_schedule,index=['Days'],columns=['Shift'], values='Doc', aggfunc=pd.value_counts,fill_value=0)

Shift                            Call     Off  Walkin
Days
PyQt5.QtCore.QDate(2022, 7, 24)     1  [1, 1]       0
PyQt5.QtCore.QDate(2022, 7, 25)     1       1       1
PyQt5.QtCore.QDate(2022, 7, 26)     1       1       1
PyQt5.QtCore.QDate(2022, 7, 27)     1       1       1
PyQt5.QtCore.QDate(2022, 7, 28)     1       1       1
PyQt5.QtCore.QDate(2022, 7, 29)     1       1       1
PyQt5.QtCore.QDate(2022, 7, 30)     1  [1, 1]       0
PyQt5.QtCore.QDate(2022, 7, 31)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 1)      1       1       1
PyQt5.QtCore.QDate(2022, 8, 2)      1       1       1
PyQt5.QtCore.QDate(2022, 8, 3)      1       1       1
PyQt5.QtCore.QDate(2022, 8, 4)      1       1       1
PyQt5.QtCore.QDate(2022, 8, 5)      1       1       1
PyQt5.QtCore.QDate(2022, 8, 6)      1       1       1
PyQt5.QtCore.QDate(2022, 8, 7)      1  [1, 1]       0
PyQt5.QtCore.QDate(2022, 8, 8)      1       1       1
PyQt5.QtCore.QDate(2022, 8, 9)      1       1       1
PyQt5.QtCore.QDate(2022, 8, 10)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 11)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 12)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 13)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 14)     1  [1, 1]       0
PyQt5.QtCore.QDate(2022, 8, 15)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 16)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 17)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 18)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 19)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 20)     1  [1, 1]       0
PyQt5.QtCore.QDate(2022, 8, 21)     1       1       1
PyQt5.QtCore.QDate(2022, 8, 22)     1       1       1

In [7]:
pd.pivot_table(current_schedule,index=['Doc'],columns=['Shift'], values='Days', aggfunc='count',fill_value=0)  # check

Shift  Call  Off  Walkin
Doc
doc1      4   12      14
doc2     11   13       6
doc3     15   10       5

In [8]:
# todo percent total
# todo user data
def here(x,ani):
    print(f'x: {x}: type: {type(x)}')
    return np.sum([xi in ani for xi in x])

In [9]:
here(['d', 'a','d','b'], ['d', 'b'])

x: ['d', 'a', 'd', 'b']: type: <class 'list'>

3

In [10]:
pd.pivot_table(current_schedule, index=['Days'], columns=['Shift'], values='Doc', aggfunc=lambda x:here(x, ['doc1', 'doc3']), fill_value=0)

x: 2    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 0    doc1
1    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 4    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 3    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 5    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 7    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 6    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 8    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 10    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 9    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 11    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 13    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 12    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 14    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 16    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 15    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 17    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 20    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 18    doc1
19    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 22    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 21    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 23    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 25    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 24    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 26    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 28    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 27    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 29    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 31    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 30    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 32    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 34    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 33    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 35    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 37    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 36    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 38    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 40    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 39    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 41    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 44    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 42    doc1
43    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 46    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 45    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 47    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 49    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 48    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 50    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 52    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 51    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 53    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 55    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 54    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 56    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 58    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 57    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 59    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 61    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 60    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 62    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 65    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 63    doc1
64    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 67    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 66    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 68    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 70    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 69    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 71    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 73    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 72    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 74    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 76    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 75    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 77    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 79    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 78    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 80    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 83    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 81    doc1
82    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 85    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 84    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 86    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 88    doc3
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 87    doc2
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>
x: 89    doc1
Name: Doc, dtype: object: type: <class 'pandas.core.series.Series'>

Shift                            Call  Off  Walkin
Days
PyQt5.QtCore.QDate(2022, 7, 24)     0    2       0
PyQt5.QtCore.QDate(2022, 7, 25)     1    0       1
PyQt5.QtCore.QDate(2022, 7, 26)     0    1       1
PyQt5.QtCore.QDate(2022, 7, 27)     1    0       1
PyQt5.QtCore.QDate(2022, 7, 28)     1    1       0
PyQt5.QtCore.QDate(2022, 7, 29)     1    0       1
PyQt5.QtCore.QDate(2022, 7, 30)     0    2       0
PyQt5.QtCore.QDate(2022, 7, 31)     1    0       1
PyQt5.QtCore.QDate(2022, 8, 1)      1    1       0
PyQt5.QtCore.QDate(2022, 8, 2)      1    0       1
PyQt5.QtCore.QDate(2022, 8, 3)      0    1       1
PyQt5.QtCore.QDate(2022, 8, 4)      1    0       1
PyQt5.QtCore.QDate(2022, 8, 5)      0    1       1
PyQt5.QtCore.QDate(2022, 8, 6)      1    0       1
PyQt5.QtCore.QDate(2022, 8, 7)      0    2       0
PyQt5.QtCore.QDate(2022, 8, 8)      1    0       1
PyQt5.QtCore.QDate(2022, 8, 9)      0    1       1
PyQt5.QtCore.QDate(2022, 8, 10)     1    0       1
PyQt5.QtCore.QDate(2022, 8, 11)     0    1       1
PyQt5.QtCore.QDate(2022, 8, 12)     1    0       1
PyQt5.QtCore.QDate(2022, 8, 13)     1    1       0
PyQt5.QtCore.QDate(2022, 8, 14)     1    1       0
PyQt5.QtCore.QDate(2022, 8, 15)     0    1       1
PyQt5.QtCore.QDate(2022, 8, 16)     1    1       0
PyQt5.QtCore.QDate(2022, 8, 17)     0    1       1
PyQt5.QtCore.QDate(2022, 8, 18)     1    1       0
PyQt5.QtCore.QDate(2022, 8, 19)     0    1       1
PyQt5.QtCore.QDate(2022, 8, 20)     1    1       0
PyQt5.QtCore.QDate(2022, 8, 21)     1    1       0
PyQt5.QtCore.QDate(2022, 8, 22)     1    0       1

In [11]:
piv_kwargs = {'index': ['Days'], 'columns': ['Doc'], 'values':'Shift','aggfunc': lambda x:','.join(x),
                           'fill_value': 0}

In [12]:
pd.pivot_table(current_schedule, **piv_kwargs)

Doc                                doc1    doc2    doc3
Days
PyQt5.QtCore.QDate(2022, 7, 24)     Off    Call     Off
PyQt5.QtCore.QDate(2022, 7, 25)  Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 7, 26)     Off    Call  Walkin
PyQt5.QtCore.QDate(2022, 7, 27)  Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 7, 28)    Call  Walkin     Off
PyQt5.QtCore.QDate(2022, 7, 29)  Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 7, 30)     Off    Call     Off
PyQt5.QtCore.QDate(2022, 7, 31)  Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 8, 1)     Call  Walkin     Off
PyQt5.QtCore.QDate(2022, 8, 2)   Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 8, 3)      Off    Call  Walkin
PyQt5.QtCore.QDate(2022, 8, 4)   Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 8, 5)      Off    Call  Walkin
PyQt5.QtCore.QDate(2022, 8, 6)   Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 8, 7)      Off    Call     Off
PyQt5.QtCore.QDate(2022, 8, 8)   Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 8, 9)      Off    Call  Walkin
PyQt5.QtCore.QDate(2022, 8, 10)  Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 8, 11)     Off    Call  Walkin
PyQt5.QtCore.QDate(2022, 8, 12)  Walkin     Off    Call
PyQt5.QtCore.QDate(2022, 8, 13)    Call  Walkin     Off
PyQt5.QtCore.QDate(2022, 8, 14)     Off     Off    Call
PyQt5.QtCore.QDate(2022, 8, 15)  Walkin    Call     Off
PyQt5.QtCore.QDate(2022, 8, 16)     Off  Walkin    Call
PyQt5.QtCore.QDate(2022, 8, 17)  Walkin    Call     Off
PyQt5.QtCore.QDate(2022, 8, 18)     Off  Walkin    Call
PyQt5.QtCore.QDate(2022, 8, 19)  Walkin    Call     Off
PyQt5.QtCore.QDate(2022, 8, 20)     Off     Off    Call
PyQt5.QtCore.QDate(2022, 8, 21)    Call  Walkin     Off
PyQt5.QtCore.QDate(2022, 8, 22)  Walkin     Off    Call

In [13]:
titanic.pivot_table('survived', index=['sex'], columns='class')

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447